<h2 mat-dialog-title>{{ 'Ticket Details' | translate }}</h2>
<div class="card h-100 w-100">
  <div class="card-body">
    <h5 class="card-title">{{ ticket.product }}</h5>
    <p class="card-text">{{ ticket.problemDescription }}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>{{ 'Status' | translate }}:</strong> {{ getStatusText(ticket.status) }}
      </li>
      <li class="list-group-item">
        <strong>{{ 'Created Date' | translate }}:</strong> {{ ticket.createdDate | date }}
      </li>
      <li class="list-group-item">
        <strong>{{ 'Assigned To' | translate }}:</strong> {{ ticket.assignedToUserName || 'N/A' }}
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="chat-messages">
      <div class="chat-message-card" *ngFor="let message of messages">
        <div class="card">
          <div class="card-body">
            <div class="chat-message-profile">
              <div class="profile-icon">
                <mat-icon [ngClass]="{'client-icon': message.sender === 'Client', 'support-icon': message.sender === 'Support'}">
                  account_circle
                </mat-icon>
              </div>
              <span class="chat-message-time">{{ message.time }}</span>
            </div>
            <div class="chat-message-content">
              <strong>{{ message.sender }}</strong>
              <p>{{ message.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <textarea class="form-control" rows="3" placeholder="{{ 'Add a comment...' | translate }}" [(ngModel)]="newMessage"></textarea>
      <button class="btn btn-primary mt-2" (click)="sendMessage()">{{ 'Send' | translate }}</button>
    </div>
  </div>
</div>