<div class="row-6">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">All Tickets</h5>
                <div>
                    <button mat-button [matMenuTriggerFor]="menu">{{ selectedFilter }}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="filterTickets('All Tickets')">All Tickets</button>
                        <button mat-menu-item>Active Tickets</button>
                        <button mat-menu-item>Assigned Tickets</button>
                    </mat-menu>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table">

                        <!-- Ticket ID Column -->
                        <ng-container matColumnDef="ticketId">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let ticket"> {{ticket.ticketId}} </td>
                        </ng-container>

                        <!-- Product Column -->
                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef> Product </th>
                            <td mat-cell *matCellDef="let ticket"> {{ticket.product}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let ticket"> {{ticket.status}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
