<h2 mat-dialog-title>{{ 'ticketDetails' | translate }}</h2>
<mat-dialog-content *ngIf="ticket">
  <p><strong>{{ 'title' | translate }}:</strong> {{ ticket.product }}</p>
  <p><strong>{{ 'description' | translate }}:</strong> {{ ticket.problemDescription }}</p>
  <p><strong>{{ 'status' | translate }}:</strong> {{ getStatusText(ticket.status) }}</p>
  <p><strong>{{ 'createdDate' | translate }}:</strong> {{ ticket.createdDate | date }}</p>
  <p><strong>{{ 'assignedTo' | translate }}:</strong> {{ ticket.assignedToFullName || 'N/A' }}</p>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ 'close' | translate }}</button>
</mat-dialog-actions>
<mat-dialog-content *ngIf="!ticket">
  <p>{{ 'loading' | translate }}</p>
</mat-dialog-content>