<div mat-dialog-title>
  <h6 class="d-flex justify-content-between align-items-center">
    {{ 'Add support Member' | translate }}
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </h6>
</div>
<form [formGroup]="supportForm" (ngSubmit)="onSubmit()" class="container my-5">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName" class="form-label">{{ 'First Name' | translate }}</label>
      <input id="firstName" formControlName="firstName" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName" class="form-label">{{ 'Last Name' | translate }}</label>
      <input id="lastName" formControlName="lastName" class="form-control" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username" class="form-label">{{ 'Username' | translate }}</label>
        <input id="username" formControlName="username" class="form-control" required>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="password" class="form-label">{{ 'Password' | translate }}</label>
        <input type="password" id="password" formControlName="password" class="form-control" required>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email" class="form-label">{{ 'Email' | translate }}</label>
        <input id="email" formControlName="email" class="form-control" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="mobileNumber" class="form-label">{{ 'Mobile Number' | translate }}</label>
        <input id="mobileNumber" formControlName="mobileNumber" class="form-control" required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="address" class="form-label">{{ 'Address' | translate }}</label>
        <input type="text" id="address" formControlName="address" class="form-control" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="dateOfBirth" class="form-label">{{ 'Date of Birth' | translate }}</label>
        <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control" required>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="supportForm.invalid">{{ 'Add' | translate }}</button>
</form>