<div class="container mt-2">
  <div class="row">
    <!-- The "Add New Ticket" button is now the only element in this header section -->
    <div class="col-md-5">
      <div class="d-flex justify-content-end align-items-center mb-2">
        <button class="btn btn-primary mat-raised-button btn-wide" (click)="addTicket()">{{ 'Add New Ticket' | translate }}</button>
      </div>
      <div class="card card-full-height">
        <div class="card-body">
          <div class="list-group">
            <a *ngFor="let ticket of tickets" class="list-group-item list-group-item-action" (click)="selectTicket(ticket)" [ngClass]="{active:selectedTicket?.ticketId === ticket.ticketId}">
              {{ ticket.product }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-full-height">
        <div class="card-body d-flex align-items-center justify-content-center" *ngIf="!selectedTicket">
          <h2 class="text-muted">{{ 'Select a ticket to view details' | translate }}</h2>
        </div>
        <div *ngIf="selectedTicket">
          <div class="card-header">
            <h5 class="card-title text-left">{{ selectedTicket.product }}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <p><strong>{{ 'Description' | translate }}:</strong> {{ selectedTicket.problemDescription }}</p>
                <p><strong>{{ 'Assigned To' | translate }}:</strong> {{ selectedTicket.assignedToFullName || 'Not Assigned' }}</p>
                <p><strong>{{ 'Created Date' | translate }}:</strong> {{ selectedTicket.createdDate | date }}</p>
                <p><strong>{{ 'Status' | translate }}:</strong> {{ getStatusText(selectedTicket.status) }}</p>
                <div><strong>{{ 'Attachments' | translate }}:</strong> 
                <a *ngFor="let attachment of selectedTicket.attachments" target="_blank" href="{{backendURL}}/{{attachment?.fileUrl}}" download>
                  <mat-icon> attach_file</mat-icon>
                </a>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="comment-container" style="height: 300px; overflow-y: auto; border: 1px solid #ccc; margin-bottom: 10px; padding: 10px;">
                  <div *ngIf="comments.length > 0; else noComments">
                    <div *ngFor="let comment of comments" class="comment-box d-flex">
                      <img src="{{ comment.userImage || 'default-avatar.png' }}" alt="User Avatar" class="avatar">
                      <div class="comment-content-container">
                        <div class="comment-header d-flex justify-content-between align-items-center">
                          <div>
                            <strong>{{ comment.fullName || 'Anonymous' }}</strong>
                            <div class="text-muted small">{{ comment.createdDate | date:'short' }}</div>
                          </div>
                          <div class="user-type text-muted">{{ getUserRole(comment.userType) }}</div>
                        </div>
                        <p class="comment-content">{{ comment.content }}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noComments>
                    <p class="text-muted">{{'No comments yet. Be the first to comment!' | translate}}</p>
                  </ng-template>
                </div>
                <div class="input-group mt-2">
                  <input type="text" class="form-control" placeholder="{{ 'Write a comment...' | translate }}" [(ngModel)]="newComment">
                  <button class="btn btn-primary mat-raised-button" (click)="postComment()">{{ 'POST' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
