<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'Support Members' | translate }}</p>
              <p class="card-title">{{ supportCount }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-paper -coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'Tickets' | translate }}</p>
              <p class="card-title">{{ ticketCount }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <!-- <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-world-2 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">{{ 'Clients' | translate }}</p>
              <p class="card-title">{{ clientCount }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <!-- <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ 'Team Member Tickets Count' | translate }}</h5>
      </div>
      <div class="card-body">
        <canvas id="supportChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ 'Ticket Status' | translate }}</h5>
        <p class="card-category">{{ 'Current Status Distribution' | translate }}</p>
      </div>
      <div class="card-body">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer">
        <div class="legend">
          <i class="fa fa-circle" style="color: rgba(52, 152, 219, 0.8)"></i> {{ 'New' | translate }}
          <i class="fa fa-circle" style="color: rgba(255, 195, 0, 0.8);"></i> {{ 'Assigned' | translate }}
          <i class="fa fa-circle" style="color: rgba(255, 87, 51, 0.8)"></i> {{ 'In Progress' | translate }}
          <i class="fa fa-circle" style="color: rgba(46, 204, 113, 0.8)"></i> {{ 'Closed' | translate }}
          <i class="fa fa-circle" style="color: rgba(149, 165, 166, 0.8)"></i> {{ 'Removed' | translate }}
        </div>
        <hr>
        <!-- <div class="stats">
          <i class="fa fa-calendar"></i> Status of all tickets
        </div> -->
      </div>
    </div>
    <!-- <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>

<div class="row">
  <!-- <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ 'Users Behavior' | translate }}</h5>
        <p class="card-category">{{ '24 Hours performance' | translate }}</p>
      </div>
      <div class="card-body">
        <canvas id="chartHours"></canvas>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div> -->

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ 'closed Tickets Count of Support Member' | translate }}</h5>
      </div>
      <div class="card-body">
        <canvas id="teamMemberTicketChart"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{'client Ticket count' | translate }}</h5>
      </div>
      <div class="card-body">
        <canvas id="clientTicketChart"></canvas>
      </div>
    </div>
  </div>
</div>



