<div class="row">
    <div class="col-md-9 m-auto">
        <div class="card card-user">
            <div class="image m-4">
                <a href="#">
                    <img class="avatar border-gray" src="{{backendURL}}/{{userProfile?.image}}" alt="userProfile image">
                </a>
            </div>
            <div class="row">
                <div class="card-body">
                    <h6 class="ml-3">Personal Information</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label class="ml-5">First name</label>
                                <p class="firstname ml-5"> {{userProfile.firstName}} </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class="ml-5">Last name</label>
                                <p class="lastname ml-5"> {{userProfile.lastName}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label class="ml-5">Phone number</label>
                                <p class="phone ml-5"> {{ userProfile.mobileNumber }} </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class="ml-5">Date of birth</label>
                                <p class="dob ml-5"> {{ userProfile.dateOfBirth}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label class="ml-5">Email</label>
                                <p class="phone ml-5"> {{ userProfile.email }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <hr>
                        <div class="button-container">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 m-auto">
        <div class="card">
            <div class="card-header">
                <h6 class="ml-5">Address</h6>
                <p class="ml-5"> {{ userProfile.address }} </p>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>