<h2 mat-dialog-title>{{ 'Assign Ticket' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="assignForm" (ngSubmit)="onAssign()">
    <mat-form-field>
      <mat-label>{{ 'Assign To' | translate }}</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option *ngFor="let member of supportTeamMembers" [value]="member.userId">
          {{ member.fullName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignForm.get('assignedTo').hasError('required')">
        {{ 'Assigned To is required' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{ 'Cancel' | translate }}</button>
  <button mat-button (click)="onAssign()" [disabled]="assignForm.invalid">{{ 'Assign' | translate }}</button>
</mat-dialog-actions>