<h2 mat-dialog-title>Assign Ticket</h2>
<mat-dialog-content>
  <form [formGroup]="assignForm" (ngSubmit)="onAssign()">
    <mat-form-field>
      <mat-label>Assign To</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option *ngFor="let member of supportTeamMembers" [value]="member.userId">
          {{ member.fullName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignForm.get('assignedTo').hasError('required')">
        Assigned To is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onAssign()" [disabled]="assignForm.invalid">Assign</button>
</mat-dialog-actions>
